// Using "~" instead of "../node_modules/" should work, but doesn't :-(
@import "../node_modules/the-new-css-reset/css/reset.css"
@import "./reset-reset.sass"
@import "./base.sass"

body
    font-family: sans-serif
    margin: 0.5em

label
    cursor: default

// See for example https://www.a11yproject.com/posts/how-to-hide-content/
.visuallyHidden
    clip: rect(0 0 0 0)
    clip-path: inset(50%)
    height: 1px
    overflow: hidden
    position: absolute
    white-space: nowrap
    width: 1px
