// Using "~" instead of "../node_modules/" should work, but doesn't :-(
@import "../node_modules/the-new-css-reset/css/reset.css"
@import "reset-reset"
@import "../node_modules/normalize.css/normalize.css"
@import "base64"

body
  font-family: sans-serif
  margin: 0.5em

label
  cursor: default

